%h2
  Match
  = @match.id

%div#visualizer
  %table#players
    %tr
      %td.player1Name{width:'40%', style:"text-align:right"}
      %td.playerVS{width:'20%',style:"text-align:center"}
      %td.player2Name{width:'40%',style:"text-align:left"}
  %canvas#display{width:"640", height:"640"}
  %p#error_message
  %p#turnCounter
  %p#controls
    <a href="#" id="start-button" title="To start"><span class="small">|</span>&laquo;</a> | 
    <a href="#" id="prev-frame-button" title="Step back (left arrow)">&laquo;</a> | 
    <a href="#" id="play-button" title="Play/Pause (spacebar)">&#9654;</a> | 
    <a href="#" id="next-frame-button" title="Step forward (right arrow)">&raquo;</a> | 
    <a href="#" id="end-button" title="To end">&raquo;<span class="small">|</span></a><br />
    <a href="#" id="speeddown" title="Slow down (down arrow)">-</a>
    <a href="#" id="speedup" title="Speed up (up arrow)">+</a>
  %p
    %canvas#chart{width:"640", height:"100"}



:javascript
  var data = "#{@data}"

//%script {src:"visualizer.js?v=3"}
= javascript_include_tag 'visualizer'
