%footer.footer
  %small
    Planet War is a AI Challenge by University of Waterloo and sponsored by Google.
    The <a href="http://planetwars.aichallenge.org/">original website</a> has a lots of information.
  %nav
    %ul
      %li= link_to "Help",   '#'
